rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 送られてきたリクエストのデータ
    function requestData() {
      return request.resource.data;
    }

		// ログイン済かどうか
    function isSignedIn() {
      return request.auth.uid != null;
    }

    // ユーザーIDが一致するかどうか
    function isUser(userId) {
      return request.auth.uid == userId;
    }

    // admin権限どうか
    function hasAdminClaim() {
      return request.auth.token.admin;
    }

    function isValidZiraiSchema(requestData) {
      return requestData.size() == 7
              && 'createdAt' in requestData && requestData.createdAt is timestamp
              && 'imageUrl' in requestData && requestData.imageUrl is string
              && 'publishStatus' in requestData && requestData.publishStatus is string
              && 'twitterId' in requestData
              && 'updatedAt' in requestData && requestData.updatedAt is timestamp
              && 'useAt' in requestData
              && 'usedCount' in requestData && requestData.usedCount is number;
    }

    match /publicZirais/{ziraiId} {
      allow read;
    }

    match /zirais/{ziraiId} {
      allow read;
      allow create, update: if isValidZiraiSchema(requestData());
    }
  }
}
